
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');


body {
  font-family: 'Quicksand';
  padding: 5px;
}

.oneparkcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  align-items: center;
  width: 100%;
  height: 75vh;
}

.parkpage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 75vh;
}

  .parkpage body {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
}

.parkpage html {
	font-size: 16px;
	font-smooth: auto;
	font-weight: 300;
	line-height: 1.5;
	color: #444;
}

.parkcard {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px; 
    min-width: 259px; 
    height: 460px; 
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    overflow: hidden;
    margin-bottom: 10px;
  }

  .parkcard h2 {
    position: absolute;
    top: 10px; 
    left: 14px; 
    margin: 0;
    padding: 0;
    padding-right: 5px;
    color: black;
    font-size: 22px; 
    font-weight: 100;
    line-height: 1;
    opacity: 1;
    transform: scale(1);
    transition: 0.25s ease;
    z-index: 999;
    text-align: center;
    
  }

  .parkcard img {
    width: 259px; 
    height: 280px; 
    object-fit: cover;
    transition: 0.25s;
  }

  /* .parkcard figcaption {
    position: absolute;
    bottom: 0;
    padding: 14px;
    background-color: white;
    color: black;
    width: 100%;
    text-align: center;
  } */

  .parkcard h3 {
    font-size: 14px; 
    line-height: 1.25;
  }

  .parkcard p {
    font-size: 12px; 
    line-height: 1.25;
    padding: 10px;
  }

  .onePark {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 200px;
    opacity: 0.9;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 0;
    padding: 1rem;
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
    font-weight: 590;
    font-size: 15px;
  }

  .onePark p {
    width: 300px;
    margin-right: 15px;
    text-align: center;
    font-size: 13px;
  }
  .onePark h2 {
    width: 200px;
    text-align: center;
    font-size: 20px;
  }

  .onePark h3 {
    width: 100px;
    padding-left: 5px;
    font-size: 15px;
  }

  .onePark img {
    width: 280px;
    align-items: right;
    border-radius: 5px;

  } 

  .trailcard {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px; 
    min-width: 259px; 
    height: 460px; 
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    overflow: hidden;
    margin-bottom: 15px;
  }

  .trailcard h3 {
    width: 200px;
    text-align: center;
    font-size: 15px;
    padding-bottom: 0px;
  }

  .trailcard img {
    width: 259px; 
    height: 280px;
    object-fit: cover;
  }

  .trail-info h5 {
    width: 150px;
    margin: 10px;
    font-size: 15px;
  }

  .trail-info p {
    width: 200px;
    text-align: center;
    font-size: 13px;
  }

  .trailcard p {
    width: auto;
    text-align: center;
    font-size: 1px;
  }

  .trail-info {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 200px;
    opacity: 0.9;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 0;
    padding: 1rem;
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
    font-weight: 590;
    font-size: 15px;
  }

  .trail-info img {
    width: auto;
    align-items: right;
    border-radius: 10px;
    padding-left: 20px;
    max-height: 220px;
  }

  .trail-info h3 {
    width: 150px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 18px;
    text-align: center;
  }

  .home {
    margin-top: 22px;
    text-align: center;
    opacity: 0.9;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 0;
    padding: 1rem;
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
    font-weight: 590;
    font-size: 20px;
  }

  .home h2 {
    padding: 15px;
  }

  .home p {
    font-size: 15px;
    width: 250px;
    padding: 15px;
  }

  .home img {
    height: 300px;
    border-radius: 5px;
  }

  .factcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
  }

  .factcard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px; 
    height: 220px; 
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
    overflow: hidden;
    margin-bottom: 15px;
  }

  .factcard h6 {
    text-align: center;
  }

  .factcard h5 {
    text-align: center;
  }

  .navLink {
    color: #769051;
    font-family: 'Quicksand';
    font-size: 22;
    border-radius: 3px;
    margin: 0;
    padding: 5px;
    text-decoration: none;
  }

  .navLink.active {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

  .navLink:hover {
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

  .navigation li {
    list-style-type: none;
    margin: 0 1rem;
    width: 150px;
  }

  .navigation ul {
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    font-family: 'Quicksand'; 
  } 

  .navigation {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 100%;
    padding: 0.5rem 0rem;
    background-color: #fff;
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
    margin-bottom: 10px;
  }

  .navigation img {
    border-radius: 5px;
    max-width: fit-content;
    max-height: 70px;
  }
  .brand-name {
    text-decoration: none;
    color: #769051;
    font-size: 25px;
    font-weight: 700px;
  } 

  .reviewform {
    background-size: cover;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    padding-top: 0;
    padding-bottom: 1rem;
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
    font-weight: 590;
    font-size: 20px;
  }

  .editreviewform {
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
    padding: .5rem;
    box-shadow: 0 -0.5rem 1rem rgba(0 0 0 / 0.15);
    font-weight: 590;
    font-size: 20px;
  }

  .reviewcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 2rem;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: center; 
  }

  .reviewcard {
    padding: 0.75rem; 
    margin: 0.50rem;
    width: 20rem;
    height: auto; 
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .reviewcard h5 {
    font-size: 1rem;
    margin: 0;
    margin-bottom: 1rem;
  }

  .reviewcard img {
    border-radius: 5px;
    margin-bottom: 10px;
  }

  #submit {
    color: white;
    font-family: Optima;
    font-size: 22;
    width: 80px;
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(
      to right,
      #738952,
      #879B69,
      #9DAA8D
    ) 
  }

  #submit:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

  #btn {
    width: 150px;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Quicksand';
    color: #fff;
    cursor: pointer;
    margin: 3px;
    height: 25px;
    text-align:center;
    border: none;
    border-radius: 3px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(
      to right,
      #738952,
      #879B69,
      #9DAA8D
    ) 
  }

  #btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border: 1px solid black;
  }

  #del-btn {
    width: 125px;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    height: 25px;
    text-align:center;
    border: none;
    border-radius: 3px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(
      to right,
      #a52a2a,
      #960018
    );
  }

  #del-btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border: 1px solid black;
  }

  .loginform {
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 1.5rem;
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
  }

  #link {
    font-size: 22;
    color: white;
    text-align: center;
    width: 80px;
    height: 20px;
    border: none;
    border-radius: 3px;
    margin: 0;
    padding: 2;
    margin-bottom: 2px;
    text-decoration: none;
    background-image: linear-gradient(
      to right,
      #738952,
      #879B69,
      #9DAA8D
    ) 
  }

  #link:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border: 1px solid black;
  }